# K-Prototypes Tech Talk
# By Palermo Penano

The summary below closely follows the original paper, [Huang 1998](https://link.springer.com/article/10.1023/A:1009769707641).

## Outline
* Unsupervised machine learning and what does it mean to cluster data
    * How does regular K-means work?
    * Other clustering algos
* What are its advantages and limitations
* Why is using standard distance metric problematic?
* K-prototypes

## References

* Python implementation
    * https://pypi.org/project/kmodes/
    * https://github.com/nicodv/kmodes
* Other articles and notebooks using k-prototypes
    * https://www.kaggle.com/rohanadagouda/unsupervised-learning-using-k-prototype-and-dbscan
    * https://towardsdatascience.com/the-k-prototype-as-clustering-algorithm-for-mixed-data-type-categorical-and-numerical-fe7c50538ebb

* Source for this demo
    * Dataset
        * https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/german/
    * Analysis
        * https://towardsdatascience.com/clustering-datasets-having-both-numerical-and-categorical-variables-ed91cdca0677
        * https://www.kaggle.com/paulinan/bank-customer-segmentation



## How does K-means work

### K-means algorithm
* Initialize with a random set of cluster vectors (these are m-dimensional vectors where m is the number of features in the dataset)
* In a loop:
    * Allocate each point in the data to the nearest cluster based on the Euclidean distance
    * For each cluster, update the cluster vector by calculating the mean of all the records assigned to that cluster (average of each component across all vectors belonging to the same cluster).
    * Repeat the first step by checking and reallocating each data point based on the new cluster vectors
    * Repeat until desired number of iteration is reached or record changes cluster
    
Here's a visualization of the algorithm
    
    
![kmeans_algo](./imgs/kmeans_algo.png)
[Source](https://en.wikipedia.org/wiki/K-means_clustering)

## Why K-means shouldn't be used with categorical variables

Categorical variables are data that takes one of a limited and usually fixed number of possible values. If they can be ordered, then it is called `ordinal`. If it cannot be ordered, then it is called `nominal`. Here are some examples:

    * ordinal: risk rating, rank, day of the week
    * nominal: political party, region of residence, occupation

There are several ways these variables are used in models. For unsupervised ML, some approaches include one-hot encoding, label encoding, feature aggregation, or excluding the feature from the model.

For one-hot encoding, the categorical is converted to several binary features each of which representing a given category in the original feature. This works when there are few categories, but become a computational burden when categories exceeds hundres or thousands of unique values (e.g. zip codes).

Label encoding only works for ordinal data, but even in such case it would require that the encoded feature follows the same ordering as the original values in the raw feature.

In the case of a categorical feature with high cardinality, one solution is to aggregate them. For example, zip codes can be aggregated to a region containing many zip codes. Following the aggregation, one can then apply one-hot encoding.

When the approaches above fails or is infeasible to apply, the data scientist may exclude categorical feature all together from the model.

## Why is using standard distance metric problematic for categorical data?


For numerical data, it is natural to define the center of mass for a collection of points using common distance metrics, such as the Euclidean distance. Say you have three points in your dataset containing annual income: `[$100k, $45k, $65k]`. One metric for the center of mass is just the average, in this case, `$70k`. 

But instead of income, suppose you had categories of hair color: `[blond, red, black]`. How can one define center of mass in this case?


## K-prototypes

K-prototypes combines k-means and k-modes into to be able to handle both numeric and cateogircal variables. The k-modes algorithm differs from k-means in the following way:

- Instead of Euclidean distance, use an alternative dissimilarity measure for categorical objects
- Instead of mean of a set of points to define a cluster centroid, use the mode where a frequency-based approach to find modes for the clusters


### K-modes

Dissimilarity measure for categorical attributes

```
x1 = [finance, married, golf] 
	is similar to 
x2 = [finance, married, squash] 
	but dissimilar to 
x3 = [healthcare, single, soccer]
```

More formally,

<img src="./imgs/dissimilarity_measure.png" alt="drawing" width="250"/>

Use the mode to represent the "center" of a set of vectors containing only categoricals. The mode itself need not be part of the original set. The formal definition for the mode is a vector Q such that this Q minimizes the distance between itself and the other vectors in the set using the dissimilarity measure above.

More formally

<img src="./imgs/cat_mode.png" alt="drawing" width="500"/>

Now that we have an approach for defining how close two vectors contaning categorical values are and a technique for determining the center of mass for a set of categorical-valued vectors, we can use a similar algorithm as k-means to find the clusters.

The k-modes algorithm:

* Select the k initial modes, one for each cluster
* In a loop, 
    * Allocate each point in the data to the nearest cluster based on the dissimilarity measure defined above
    * Update the mode of the cluster based on the set of points allocated to it
    * Repeat the first step by checking and reallocating each data point based on the new cluster modes
    * Repeat until no record changes cluster or the desired number of iteration is reached

### Combining k-means and k-modes to form k-prototypes

Combining k-means and k-modes requires a function that combines both the Euclidean distance metric and the dissimilarity measure function. Formally, the function is formulated as 

<img src="./imgs/combined_euc_dissm.png" alt="drawing" width="300"/>

Similar to the k-means and k-modes algorithm above, the optimization problems boils down to finding the cluster vectors (that now contain both numeric and categorical values) such that the sum of the euclidean distance metric and dissimilarity measure across all k cluster vectors is minimized.

In [1]:
import warnings
from typing import List, Tuple

import numpy as np
import pandas as pd 
import random
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from scipy import stats
from matplotlib import style

from kmodes.kprototypes import KPrototypes
from kmodes.util import dissim               # Import module containing dissimilarity functions for categoricals
                                             # For list of all dissimilarity functions, see https://github.com/nicodv/kmodes/blob/master/kmodes/util/dissim.py

warnings.filterwarnings("ignore")
pd.options.display.float_format = '{:,.3f}'.format

# Clustering German Credit Data

In [2]:
col_names = [
    "chk_acct",          # 1
    "duration",          # 2
    "credit_his",        # 3
    "purpose",           # 4
    "amount",            # 5
    "saving_acct",       # 6
    "present_emp",       # 7
    "installment_rate",  # 8
    "sex",               # 9
    "other_debtor",      # 10          
    "present_resid",     # 11
    "property",          # 12
    "age",               # 13
    "other_install",     # 14
    "housing",           # 15
    "n_credits",         # 16
    "job",               # 17
    "n_people",          # 18
    "telephone",         # 19
    "foreign",           # 20
    "response"           # 21
]

df = pd.read_csv('./data/german/german.data',
                 sep=' ', 
                 header=None,
                 names=col_names)

In [3]:
# Restrict to this list of variables to simplify problem
# See https://towardsdatascience.com/clustering-datasets-having-both-numerical-and-categorical-variables-ed91cdca0677

cont_cols = [
    "duration",          # 2
    "amount",            # 5
    "installment_rate",  # 8
    "present_resid",     # 11
    "age",               # 13
    "n_credits",         # 16
    "n_people"           # 18
]
cat_cols = [
    "chk_acct",          # 1
    "credit_his",        # 3
    "present_emp",       # 7
    "sex",               # 9
    "property",          # 12
    "housing"            # 15
]

In [4]:
df = df.loc[:, cont_cols+cat_cols]

In [5]:
df.head().T

                     0     1     2     3     4
duration             6    48    12    42    24
amount            1169  5951  2096  7882  4870
installment_rate     4     2     2     2     3
present_resid        4     2     3     4     4
age                 67    22    49    45    53
n_credits            2     1     1     1     2
n_people             1     1     2     2     2
chk_acct           A11   A12   A14   A11   A11
credit_his         A34   A32   A34   A32   A33
present_emp        A75   A73   A74   A74   A73
sex                A93   A92   A93   A93   A93
property          A121  A121  A121  A122  A124
housing           A152  A152  A152  A153  A153

In [6]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
duration            1000 non-null int64
amount              1000 non-null int64
installment_rate    1000 non-null int64
present_resid       1000 non-null int64
age                 1000 non-null int64
n_credits           1000 non-null int64
n_people            1000 non-null int64
chk_acct            1000 non-null object
credit_his          1000 non-null object
present_emp         1000 non-null object
sex                 1000 non-null object
property            1000 non-null object
housing             1000 non-null object
dtypes: int64(7), object(6)
memory usage: 101.7+ KB

In [7]:
df[cont_cols].describe().T

,count,mean,std,min,25%,50%,75%,max
duration,"1,000.000",20.903,12.059,4.000,12.000,18.000,24.000,72.000
amount,"1,000.000","3,271.258","2,822.737",250.000,"1,365.500","2,319.500","3,972.250","18,424.000"
installment_rate,"1,000.000",2.973,1.119,1.000,2.000,3.000,4.000,4.000
present_resid,"1,000.000",2.845,1.104,1.000,2.000,3.000,4.000,4.000
age,"1,000.000",35.546,11.375,19.000,27.000,33.000,42.000,75.000
n_credits,"1,000.000",1.407,0.578,1.000,1.000,1.000,2.000,4.000
n_people,"1,000.000",1.155,0.362,1.000,1.000,1.000,1.000,2.000

In [8]:
def summarize_cats(df: pd.DataFrame, cat_cols: List[str] = []) -> pd.DataFrame:
    '''Create table summarizing categorical variables
    To display more values in Values col, set
    pd.set_option('display.max_colwidth', 100)
    '''

    df_cats = df.loc[:, cat_cols]

    print(f"Dataset Shape: {df_cats.shape}")
    summary = pd.DataFrame(df_cats.dtypes, columns=['dtypes'])
    summary = summary.reset_index()
    summary['Column Name'] = summary['index']
    summary = summary[['Column Name', 'dtypes']]
    summary['Missing'] = df_cats.isnull().sum().values
    summary['Uniques'] = df_cats.nunique().values

    for name in summary['Column Name'].value_counts().index:

        # List unique values
        list_uniques = [str(v) for v in df_cats[name].unique()]
        summary.loc[summary['Column Name'] == name,
                    'Values'] = ' | '.join(list_uniques)

        # Calculate entropy
        shares = df_cats[name].value_counts(normalize=True)
        summary.loc[summary['Column Name'] == name, 'Entropy'] = round(
            stats.entropy(shares, base=2), 2)

    return summary

In [9]:
summarize_cats(df, cat_cols=cat_cols)

Dataset Shape: (1000, 6)

   Column Name  dtypes  Missing  Uniques                       Values  Entropy
0     chk_acct  object        0        4        A11 | A12 | A14 | A13    1.800
1   credit_his  object        0        5  A34 | A32 | A33 | A30 | A31    1.710
2  present_emp  object        0        5  A75 | A73 | A74 | A71 | A72    2.160
3          sex  object        0        4        A93 | A92 | A91 | A94    1.530
4     property  object        0        4    A121 | A122 | A124 | A123    1.950
5      housing  object        0        3           A152 | A153 | A151    1.140

# Clustering using K-Prototypes

In [10]:
# Scale numerical features using Z-scores

display(df[cont_cols].describe().T)
scaler = StandardScaler()
df.loc[:, cont_cols] = scaler.fit_transform(df.loc[:, cont_cols])
display(df[cont_cols].describe().T)

,count,mean,std,min,25%,50%,75%,max
duration,"1,000.000",20.903,12.059,4.000,12.000,18.000,24.000,72.000
amount,"1,000.000","3,271.258","2,822.737",250.000,"1,365.500","2,319.500","3,972.250","18,424.000"
installment_rate,"1,000.000",2.973,1.119,1.000,2.000,3.000,4.000,4.000
present_resid,"1,000.000",2.845,1.104,1.000,2.000,3.000,4.000,4.000
age,"1,000.000",35.546,11.375,19.000,27.000,33.000,42.000,75.000
n_credits,"1,000.000",1.407,0.578,1.000,1.000,1.000,2.000,4.000
n_people,"1,000.000",1.155,0.362,1.000,1.000,1.000,1.000,2.000

                     count   mean   std    min    25%    50%    75%   max
duration         1,000.000  0.000 1.001 -1.402 -0.739 -0.241  0.257 4.239
amount           1,000.000  0.000 1.001 -1.071 -0.675 -0.337  0.248 5.371
installment_rate 1,000.000  0.000 1.001 -1.765 -0.870  0.024  0.918 0.918
present_resid    1,000.000 -0.000 1.001 -1.672 -0.766  0.141  1.047 1.047
age              1,000.000  0.000 1.001 -1.455 -0.752 -0.224  0.568 3.470
n_credits        1,000.000 -0.000 1.001 -0.705 -0.705 -0.705  1.027 4.491
n_people         1,000.000 -0.000 1.001 -0.428 -0.428 -0.428 -0.428 2.335

In [11]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
duration            1000 non-null float64
amount              1000 non-null float64
installment_rate    1000 non-null float64
present_resid       1000 non-null float64
age                 1000 non-null float64
n_credits           1000 non-null float64
n_people            1000 non-null float64
chk_acct            1000 non-null object
credit_his          1000 non-null object
present_emp         1000 non-null object
sex                 1000 non-null object
property            1000 non-null object
housing             1000 non-null object
dtypes: float64(7), object(6)
memory usage: 101.7+ KB

In [12]:
# Get index of categorical columns
cat_cols_idx = [df.columns.get_loc(c) for c in cat_cols if c in df]

In [13]:
# Fit and predict kprototypes

# For more details on parameters, see source code:
# https://github.com/nicodv/kmodes/blob/master/kmodes/kprototypes.py#L335

kp = KPrototypes(
        n_clusters=5,
        max_iter=100,                      # Number of iteration (cluster updates) per run (n_init)
        cat_dissim=dissim.matching_dissim, # Dissimilarity function to use for cat. features
        init='Cao',                        # Initialization method (see orignal paper for details)
        n_init=10,                         # Number of time the k-modes algorithm will be run with different centroid seeds.
        gamma=None,                        # Weighing factor that determines relative importance of cont. vs cat. features
        verbose=300,                       # Verbosity of output during training
        random_state=None,
        n_jobs=-1,
)

clusters = kp.fit_predict(df, categorical=cat_cols_idx)

Best run was number 8

In [14]:
# Output is an array with cluster assignment for each record in original dataset
display(clusters.shape)
display(clusters)

(1000,)

array([2, 4, 3, 4, 3, 4, 2, 4, 2, 0, 0, 4, 1, 2, 1, 0, 2, 4, 4, 3, 2, 3,
       3, 2, 1, 1, 2, 2, 0, 4, 0, 1, 1, 2, 0, 4, 4, 0, 1, 0, 0, 0, 3, 1,
       2, 2, 0, 1, 1, 0, 0, 1, 0, 1, 2, 3, 1, 4, 0, 4, 1, 2, 2, 4, 0, 3,
       1, 0, 0, 0, 4, 2, 3, 4, 0, 2, 0, 2, 4, 1, 1, 2, 0, 2, 2, 0, 0, 4,
       3, 0, 2, 2, 3, 0, 2, 4, 2, 0, 2, 3, 2, 0, 0, 0, 1, 4, 3, 1, 1, 1,
       3, 0, 0, 4, 0, 4, 4, 1, 1, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 4, 4,
       1, 2, 4, 0, 4, 2, 2, 1, 1, 0, 0, 1, 0, 4, 1, 2, 4, 2, 3, 1, 0, 4,
       4, 1, 3, 0, 1, 3, 3, 0, 0, 2, 0, 1, 0, 0, 1, 2, 3, 0, 0, 0, 1, 4,
       1, 2, 3, 2, 4, 4, 3, 2, 3, 0, 3, 2, 0, 1, 2, 3, 3, 1, 0, 1, 1, 2,
       0, 0, 2, 0, 0, 0, 3, 3, 2, 0, 1, 2, 3, 2, 2, 2, 0, 1, 0, 1, 1, 2,
       0, 0, 0, 3, 0, 0, 4, 2, 0, 0, 0, 2, 0, 0, 3, 3, 4, 2, 0, 3, 0, 3,
       3, 0, 3, 0, 2, 0, 1, 0, 2, 1, 0, 1, 1, 4, 0, 0, 1, 2, 1, 2, 2, 2,
       3, 3, 4, 0, 1, 0, 0, 2, 4, 4, 4, 3, 1, 2, 1, 0, 0, 0, 2, 2, 0, 4,
       3, 4, 2, 2, 1, 4, 3, 2, 4, 4, 1, 0, 2, 0, 2, 0, 3, 2, 4, 0, 1, 0,
       0, 0, 4, 0, 1, 1, 3, 0, 3, 1, 0, 1, 0, 0, 1, 0, 0, 1, 2, 3, 0, 3,
       2, 0, 4, 4, 3, 1, 1, 0, 0, 0, 1, 1, 1, 1, 3, 0, 0, 1, 1, 3, 1, 1,
       1, 0, 2, 0, 2, 0, 0, 0, 2, 1, 1, 1, 0, 1, 0, 1, 3, 1, 0, 2, 1, 4,
       4, 4, 1, 2, 4, 2, 0, 4, 0, 0, 1, 1, 0, 2, 1, 0, 1, 1, 3, 1, 1, 4,
       2, 2, 1, 0, 2, 0, 4, 0, 3, 1, 3, 0, 0, 0, 0, 4, 0, 3, 0, 3, 3, 1,
       1, 0, 1, 0, 3, 0, 1, 1, 0, 2, 1, 3, 2, 4, 2, 0, 0, 1, 1, 2, 2, 0,
       0, 1, 1, 3, 4, 2, 0, 1, 2, 2, 4, 0, 2, 0, 1, 0, 3, 0, 0, 0, 3, 1,
       0, 2, 0, 3, 0, 4, 1, 0, 0, 0, 0, 3, 0, 1, 0, 0, 2, 3, 1, 0, 2, 0,
       2, 2, 2, 2, 0, 1, 1, 4, 1, 2, 3, 1, 4, 2, 0, 3, 0, 3, 2, 3, 0, 0,
       1, 3, 0, 4, 0, 4, 1, 0, 0, 2, 3, 4, 0, 2, 2, 1, 4, 0, 3, 4, 0, 3,
       0, 3, 3, 1, 2, 0, 0, 1, 2, 2, 4, 1, 1, 2, 4, 3, 2, 3, 0, 3, 0, 4,
       0, 3, 4, 0, 2, 1, 0, 1, 0, 1, 3, 0, 1, 4, 0, 0, 1, 1, 3, 4, 0, 4,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 3, 0, 0, 2, 1, 3, 0, 2, 2, 2, 2, 0, 0,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 2, 2, 0, 3, 0, 3, 0, 1, 0, 4,
       4, 3, 1, 0, 1, 0, 4, 0, 2, 0, 1, 1, 2, 2, 1, 0, 0, 1, 0, 3, 0, 4,
       3, 3, 0, 2, 0, 0, 0, 4, 1, 1, 3, 3, 4, 0, 0, 4, 0, 1, 3, 4, 1, 1,
       0, 0, 2, 0, 2, 0, 3, 1, 2, 2, 0, 4, 4, 1, 3, 0, 0, 4, 2, 0, 1, 0,
       0, 2, 4, 4, 0, 0, 0, 3, 1, 0, 1, 3, 0, 2, 0, 1, 0, 2, 0, 4, 0, 0,
       3, 1, 4, 0, 0, 3, 0, 0, 2, 0, 4, 2, 3, 0, 0, 2, 0, 3, 0, 2, 0, 1,
       2, 0, 4, 2, 1, 3, 0, 1, 3, 0, 4, 3, 3, 0, 1, 0, 0, 0, 4, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 3, 0, 3, 2, 1, 2, 2, 0, 0, 4, 0, 2, 1, 1, 1, 2,
       1, 4, 1, 2, 2, 0, 2, 0, 4, 2, 4, 2, 1, 0, 2, 0, 2, 3, 4, 4, 3, 3,
       1, 2, 0, 1, 3, 1, 2, 0, 3, 2, 1, 2, 1, 4, 0, 2, 4, 1, 0, 0, 4, 4,
       3, 4, 2, 1, 4, 0, 0, 0, 3, 2, 0, 0, 1, 3, 4, 4, 3, 0, 4, 1, 1, 2,
       0, 3, 2, 2, 0, 0, 0, 2, 3, 1, 2, 0, 2, 2, 0, 2, 2, 3, 4, 0, 0, 0,
       0, 3, 0, 0, 0, 3, 1, 1, 0, 2, 4, 0, 4, 3, 0, 0, 3, 2, 0, 0, 0, 4,
       4, 4, 2, 2, 0, 2, 3, 4, 4, 3, 3, 2, 2, 4, 0, 4, 0, 0, 1, 1, 2, 2,
       4, 0, 0, 3, 1, 1, 1, 1, 2, 1, 1, 1, 0, 4, 3, 4, 1, 0, 0, 4, 0, 3,
       4, 2, 0, 4, 2, 3, 0, 0, 0, 3, 0, 0, 0, 0, 4, 3, 3, 3, 0, 3, 0, 4,
       3, 0, 3, 1, 3, 1, 0, 4, 0, 2, 2, 2, 0, 0, 1, 2, 0, 0, 0, 0, 0, 2,
       4, 3, 0, 3, 1, 4, 0, 2, 2, 0, 3, 1, 4, 4, 1, 4, 1, 0, 4, 2, 0, 2,
       3, 3, 1, 0, 2, 0, 0, 0, 0, 4], dtype=uint16)

In [15]:
df['clusters'] = clusters

In [16]:
# Continuous variablesby clusters
df.groupby('clusters')[cont_cols].describe().T

clusters                     0       1       2       3       4
duration         count 345.000 198.000 182.000 140.000 135.000
                 mean   -0.162  -0.375  -0.324  -0.253   1.663
                 std     0.686   0.636   0.715   0.897   0.930
                 min    -1.236  -1.236  -1.319  -1.402  -1.236
                 25%    -0.739  -0.739  -0.739  -0.905   1.253
                 50%    -0.241  -0.490  -0.490  -0.490   1.501
                 75%     0.257   0.257   0.257   0.257   2.248
                 max     1.999   2.248   2.248   2.248   4.239
amount           count 345.000 198.000 182.000 140.000 135.000
                 mean   -0.416  -0.131  -0.364  -0.172   1.924
                 std     0.440   0.563   0.578   0.654   1.092
                 min    -1.062  -1.071  -1.040  -1.006  -0.078
                 25%    -0.720  -0.540  -0.745  -0.678   1.175
                 50%    -0.509  -0.232  -0.582  -0.306   1.669
                 75%    -0.208   0.135  -0.183   0.116   2.534
                 max     1.172   2.023   1.628   2.606   5.371
installment_rate count 345.000 198.000 182.000 140.000 135.000
                 mean    0.714  -1.236   0.329  -0.148  -0.300
                 std     0.376   0.441   0.833   1.040   0.963
                 min     0.024  -1.765  -1.765  -1.765  -1.765
                 25%     0.918  -1.765   0.024  -0.870  -0.870
                 50%     0.918  -0.870   0.918   0.024  -0.870
                 75%     0.918  -0.870   0.918   0.918   0.918
                 max     0.918  -0.870   0.918   0.918   0.918
present_resid    count 345.000 198.000 182.000 140.000 135.000
                 mean   -0.330  -0.185   0.798   0.082  -0.048
                 std     0.963   1.024   0.532   0.968   0.991
                 min    -1.672  -1.672  -0.766  -1.672  -1.672
                 25%    -0.766  -0.766   1.047  -0.766  -0.766
                 50%    -0.766  -0.766   1.047   0.141   0.141
                 75%     1.047   1.047   1.047   1.047   1.047
                 max     1.047   1.047   1.047   1.047   1.047
age              count 345.000 198.000 182.000 140.000 135.000
                 mean   -0.509  -0.522   1.322   0.276  -0.003
                 std     0.554   0.626   0.923   0.765   0.906
                 min    -1.367  -1.455  -0.752  -1.367  -1.279
                 25%    -0.928  -1.015   0.590  -0.224  -0.708
                 50%    -0.664  -0.664   1.271   0.216  -0.224
                 75%    -0.136  -0.224   2.041   0.656   0.568
                 max     1.623   1.799   3.470   3.382   2.854
n_credits        count 345.000 198.000 182.000 140.000 135.000
                 mean   -0.233  -0.163   0.409   0.260   0.014
                 std     0.783   0.860   1.192   1.180   0.979
                 min    -0.705  -0.705  -0.705  -0.705  -0.705
                 25%    -0.705  -0.705  -0.705  -0.705  -0.705
                 50%    -0.705  -0.705   1.027  -0.705  -0.705
                 75%     1.027   1.027   1.027   1.027   1.027
                 max     2.759   2.759   4.491   4.491   4.491
n_people         count 345.000 198.000 182.000 140.000 135.000
                 mean   -0.428  -0.428  -0.428   2.335  -0.121
                 std     0.000   0.000   0.000   0.000   0.872
                 min    -0.428  -0.428  -0.428   2.335  -0.428
                 25%    -0.428  -0.428  -0.428   2.335  -0.428
                 50%    -0.428  -0.428  -0.428   2.335  -0.428
                 75%    -0.428  -0.428  -0.428   2.335  -0.428
                 max    -0.428  -0.428  -0.428   2.335   2.335

In [28]:
total = len(df)

for c in cat_cols:
    
    # Overall distribution of categories
    overall_dist = (
        pd.DataFrame(df[c].value_counts() / total).
        T.
        sort_index(axis=1).
        style.
        background_gradient(cmap='Blues', axis=1)
    )
    display(overall_dist)

    # Get counts across clusters and categorical column
    table = pd.pivot_table(
        df, values=[], index=["clusters"], columns=[c],
        aggfunc=len, margins=True, dropna=True, fill_value=0
    )

    # Divide by total across all cateogories for a given cluster
    table2 = table.div(table.iloc[:, -1], axis=0).iloc[:-1,:-1]

    # Apply background gradient to generate a heatmap
    display(table2.style.background_gradient(cmap='Blues', axis=1))
    print(30*"-")

------------------------------

------------------------------

------------------------------

------------------------------

------------------------------

------------------------------

# Cluster centroids

In [18]:
kp.cluster_centroids_

array([['-0.16221762441618792', '-0.415933656240661',
        '0.7136885014899477', '-0.329814926428621', '-0.509198819813247',
        '-0.23301741420239566', '-0.42828956637154275', 'A14', 'A32',
        'A73', 'A93', 'A123', 'A152'],
       ['-0.37452851427180667', '-0.1310887041840811',
        '-1.2360457094311261', '-0.18454691069614695',
        '-0.5215438370573096', '-0.16258102655621995',
        '-0.428289566371542', 'A14', 'A32', 'A73', 'A92', 'A123', 'A152'],
       ['-0.3242814818136062', '-0.3642099534881225',
        '0.32880887036090123', '0.797953169447863', '1.3224898241583847',
        '0.4085057294982037', '-0.42828956637154086', 'A14', 'A34',
        'A75', 'A93', 'A121', 'A152'],
       ['-0.25270985191094797', '-0.17152557825492357',
        '-0.14833106017745262', '0.08223086466253343',
        '0.2761455759566795', '0.2600481657798983', '2.3348689263480673',
        'A14', 'A32', 'A75', 'A93', 'A121', 'A152'],
       ['1.663113594126012', '1.9240923505333618', '-0.3004618409445179',
        '-0.047506370048548456', '-0.0030685633914358176',
        '0.013535297630366327', '-0.12127195606936052', 'A12', 'A32',
        'A73', 'A93', 'A123', 'A152']], dtype='<U32')

In [19]:
kp.cluster_centroids_[0]

array(['-0.16221762441618792', '-0.415933656240661', '0.7136885014899477',
       '-0.329814926428621', '-0.509198819813247', '-0.23301741420239566',
       '-0.42828956637154275', 'A14', 'A32', 'A73', 'A93', 'A123', 'A152'],
      dtype='<U32')