# K-Prototypes Tech Talk
### By Palermo Penano

The summary below closely follows the original paper, [Huang 1998](https://link.springer.com/article/10.1023/A:1009769707641).

## Outline
* A review of the K-means clustering algorithm
* Categorical variables and why they shouldn't be used with K-means
* K-prototypes
    * K-modes
    * Dissimilarity measure
    * K-means + K-modes --> K-prototypes
* Demo: K-prototypes in Python

## References

* Python implementation
    * https://pypi.org/project/kmodes/
    * https://github.com/nicodv/kmodes
* Other articles and notebooks using k-prototypes
    * https://www.kaggle.com/rohanadagouda/unsupervised-learning-using-k-prototype-and-dbscan
    * https://towardsdatascience.com/the-k-prototype-as-clustering-algorithm-for-mixed-data-type-categorical-and-numerical-fe7c50538ebb

* Source for this demo
    * Dataset
        * https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/german/
    * Analysis
        * https://towardsdatascience.com/clustering-datasets-having-both-numerical-and-categorical-variables-ed91cdca0677
        * https://www.kaggle.com/paulinan/bank-customer-segmentation

# Reviewing K-means

## K-means algorithm
* Initialize with a random set of cluster vectors (these are m-dimensional vectors where m is the number of features in the dataset)
* In a loop:
    * Allocate each point in the data to the nearest cluster based on the Euclidean distance (or other p-norm s)
    * For each cluster, update the cluster vector by calculating the mean of all the records assigned to that cluster (average of each component across all vectors belonging to the same cluster).
    * Repeat the first step by checking and reallocating each data point based on the new cluster vectors
    * Repeat until desired number of iteration is reached or record changes cluster
    
Here's a visualization of the algorithm
    
![kmeans_algo](./imgs/kmeans_algo.png)
[Source](https://en.wikipedia.org/wiki/K-means_clustering)

## Categorical variables and why they shouldn't be used with K-means

Categorical variables are data that takes one of a limited and usually fixed number of possible values. If they can be ordered, then it is called `ordinal`. If it cannot be ordered, then it is called `nominal`. Here are some examples:

    * ordinal: risk rating, rank, day of the week
    * nominal: political party, region of residence, occupation

There are several ways these variables are used in models. For unsupervised ML, some approaches include one-hot encoding, label encoding, feature aggregation, or excluding the feature from the model.

For one-hot encoding, the categorical is converted to several binary features each of which representing a given category in the original feature. This works when there are few categories but become a computational burden when categories exceeds hundreds or thousands of unique values (e.g. zip codes).

Label encoding recasts the original values of the categorical variable to a number. For example, if you had feature for pets the encoding may assign dogs to 1, cats to 2, birds to 3, etc. This is a popular technique for decision tree classifiers but inappropriate for K-means as there are no meaningful interpretation of distance between the numbers assigned to each class.

In the case of a categorical feature with high cardinality, one solution is to aggregate them. For example, zip codes can be aggregated to a region containing many zip codes. Following the aggregation, one can then apply one-hot encoding.

When the approaches above fails or is infeasible to apply, the data scientist may exclude categorical feature all together from the model.

For numerical data, it is natural to define the center of mass for a collection of points using common distance metrics, such as the Euclidean distance. Say you have three points in your dataset containing annual income: `[$100k, $45k, $65k]`. One metric for the center of mass is the average, which in this case is `$70k`. 

But instead of a numerical data like income, suppose you had data on hair color: `[blond, red, black]`. How can one define center of mass so that if you were to observe a new data point, say a person with purple hair, you can assign them to a cluster of hair colors similar to theirs? Most data scientists at this point would simply omit the categorical variables when undertaking a clustering study.

# K-prototypes

K-prototypes combines k-means and k-modes in a way that enables the use of both numeric and categorical variables. I explain how k-modes work first, then explain how it is used with k-means to form k-prototypes.

### K-modes

The k-modes algorithm differs from k-means in the following way:

- Instead of of a p-norm distance metric such as the Euclidean distance, use an alternative dissimilarity measure for categorical objects (this avoids having to do one-hot encoding if one were to use the Euclidean distance, for example).
- Instead of the average of a set of points to define a cluster centroid, use the mode where a frequency-based approach is used to find modes for the clusters

### Dissimilarity measure for categorical attributes

Consider the following example of three individuals and categorical data on their occupation, marital status, and hobbies.

```
x1 = [finance, married, golf] 
x2 = [finance, married, squash] 
x3 = [healthcare, single, soccer]
```

Intuitively, we can say that x1 and x2 are similar to one another. x3 is most dissimilar in the group.

One way we can capture dissimilarity is by the function described by following

<img src="./imgs/dissimilarity_measure.png" alt="drawing" width="250"/>

For two vector of categorical variables with `m` dimensions, the greater the value of the function `d`, the greater the dissimilarity between the two vectors.

To find the "center" of a set of categorical value vectors, k-modes uses the mode. The mode itself need not be part of the original set. In the example above with just 3 data points, you can have a mode that is `[finance, single, golf]`, which is not part of the original dataset. 

The mode is a vector Q such that this Q minimizes the total dissimilarity between itself and the other vectors in the set:

<img src="./imgs/cat_mode.png" alt="drawing" width="500"/>

Intuitively, the mode for a set of categorical vectors is a vector where each dimension is the most frequent value for a given categorical feature. Using the example above, if `finance`, `married`, and `golf` are the most frequent values for the `occupation`, `marital status` and `hobbies` feature, then the mode will be the categorical vector `[finance, married, golf]`.

Now that we have an approach for defining how close two vectors contaning categorical values are and a technique for determining the center of mass for a set of categorical-valued vectors, we can use a similar algorithm as k-means to find the clusters for an entire dataset containing only categorical valued vectors:

#### The k-modes algorithm

* Select the k initial modes, one for each cluster
* In a loop, 
    * Allocate each point in the dataset to the nearest cluster based on the dissimilarity measure defined above
    * Update the mode of the cluster based on the set of points allocated to it
    * Repeat the first step by checking and reallocating each data point based on the new cluster modes
    * Terminate when no data point changes cluster or the desired number of iteration is reached

### Combining k-means and k-modes to form k-prototypes

Combining k-means and k-modes requires a function that combines both the p-norm distance metric and the dissimilarity measure function. Formally, the function is formulated as 

<img src="./imgs/combined_euc_dissm.png" alt="drawing" width="300"/>

Similar to the k-means and k-modes algorithm above, the optimization problems boils down to finding the cluster vectors (that now contain both numeric and categorical values) such that the sum of the p-norm distance metric and dissimilarity measure across all k cluster vectors is minimized.

To the mathematically inclined, the cost function that is minimized is 

<img src="./imgs/kproto_costfunc.png" alt="drawing" width="450"/>

where `k` is the number of clusters, `n` the number of data points, and `p` and `m` are the dimensions of the numerical and categorical features. The `gamma` hyperparameter controls how much weight is assigned to the categorical features relative to numerical features

# Demo: K-prototypes in Python

In [1]:
import warnings
from typing import List, Tuple

import numpy as np
import pandas as pd 
import random
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from scipy import stats
from matplotlib import style

from kmodes.kprototypes import KPrototypes
from kmodes.util import dissim               # Import module containing dissimilarity functions for categoricals
                                             # For list of all dissimilarity functions, see https://github.com/nicodv/kmodes/blob/master/kmodes/util/dissim.py

warnings.filterwarnings("ignore")
pd.options.display.float_format = '{:,.3f}'.format

# Clustering German Credit Data

In [2]:
col_names = [
    "chk_acct",          # 1
    "duration",          # 2
    "credit_his",        # 3
    "purpose",           # 4
    "amount",            # 5
    "saving_acct",       # 6
    "present_emp",       # 7
    "installment_rate",  # 8
    "sex",               # 9
    "other_debtor",      # 10          
    "present_resid",     # 11
    "property",          # 12
    "age",               # 13
    "other_install",     # 14
    "housing",           # 15
    "n_credits",         # 16
    "job",               # 17
    "n_people",          # 18
    "telephone",         # 19
    "foreign",           # 20
    "response"           # 21
]

df = pd.read_csv('./data/german/german.data',
                 sep=' ', 
                 header=None,
                 names=col_names)

In [3]:
# Restrict to this list of variables to simplify problem
# See https://towardsdatascience.com/clustering-datasets-having-both-numerical-and-categorical-variables-ed91cdca0677

cont_cols = [
    "duration",          # 2
    "amount",            # 5
    "installment_rate",  # 8
    "present_resid",     # 11
    "age",               # 13
    "n_credits",         # 16
    "n_people"           # 18
]
cat_cols = [
    "chk_acct",          # 1
    "credit_his",        # 3
    "present_emp",       # 7
    "sex",               # 9
    "property",          # 12
    "housing"            # 15
]

In [4]:
df = df.loc[:, cont_cols+cat_cols]

In [5]:
df.head().T

                     0     1     2     3     4
duration             6    48    12    42    24
amount            1169  5951  2096  7882  4870
installment_rate     4     2     2     2     3
present_resid        4     2     3     4     4
age                 67    22    49    45    53
n_credits            2     1     1     1     2
n_people             1     1     2     2     2
chk_acct           A11   A12   A14   A11   A11
credit_his         A34   A32   A34   A32   A33
present_emp        A75   A73   A74   A74   A73
sex                A93   A92   A93   A93   A93
property          A121  A121  A121  A122  A124
housing           A152  A152  A152  A153  A153

In [6]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
duration            1000 non-null int64
amount              1000 non-null int64
installment_rate    1000 non-null int64
present_resid       1000 non-null int64
age                 1000 non-null int64
n_credits           1000 non-null int64
n_people            1000 non-null int64
chk_acct            1000 non-null object
credit_his          1000 non-null object
present_emp         1000 non-null object
sex                 1000 non-null object
property            1000 non-null object
housing             1000 non-null object
dtypes: int64(7), object(6)
memory usage: 101.7+ KB

In [7]:
df[cont_cols].describe().T

,count,mean,std,min,25%,50%,75%,max
duration,"1,000.000",20.903,12.059,4.000,12.000,18.000,24.000,72.000
amount,"1,000.000","3,271.258","2,822.737",250.000,"1,365.500","2,319.500","3,972.250","18,424.000"
installment_rate,"1,000.000",2.973,1.119,1.000,2.000,3.000,4.000,4.000
present_resid,"1,000.000",2.845,1.104,1.000,2.000,3.000,4.000,4.000
age,"1,000.000",35.546,11.375,19.000,27.000,33.000,42.000,75.000
n_credits,"1,000.000",1.407,0.578,1.000,1.000,1.000,2.000,4.000
n_people,"1,000.000",1.155,0.362,1.000,1.000,1.000,1.000,2.000

In [8]:
def summarize_cats(df: pd.DataFrame, cat_cols: List[str] = []) -> pd.DataFrame:
    '''Create table summarizing categorical variables
    To display more values in Values col, set
    pd.set_option('display.max_colwidth', 100)
    '''

    df_cats = df.loc[:, cat_cols]

    print(f"Dataset Shape: {df_cats.shape}")
    summary = pd.DataFrame(df_cats.dtypes, columns=['dtypes'])
    summary = summary.reset_index()
    summary['Column Name'] = summary['index']
    summary = summary[['Column Name', 'dtypes']]
    summary['Missing'] = df_cats.isnull().sum().values
    summary['Uniques'] = df_cats.nunique().values

    for name in summary['Column Name'].value_counts().index:

        # List unique values
        list_uniques = [str(v) for v in df_cats[name].unique()]
        summary.loc[summary['Column Name'] == name,
                    'Values'] = ' | '.join(list_uniques)

        # Calculate entropy
        shares = df_cats[name].value_counts(normalize=True)
        summary.loc[summary['Column Name'] == name, 'Entropy'] = round(
            stats.entropy(shares, base=2), 2)

    return summary

In [9]:
summarize_cats(df, cat_cols=cat_cols)

Dataset Shape: (1000, 6)

   Column Name  dtypes  Missing  Uniques                       Values  Entropy
0     chk_acct  object        0        4        A11 | A12 | A14 | A13    1.800
1   credit_his  object        0        5  A34 | A32 | A33 | A30 | A31    1.710
2  present_emp  object        0        5  A75 | A73 | A74 | A71 | A72    2.160
3          sex  object        0        4        A93 | A92 | A91 | A94    1.530
4     property  object        0        4    A121 | A122 | A124 | A123    1.950
5      housing  object        0        3           A152 | A153 | A151    1.140

# Clustering using K-Prototypes

In [10]:
# Scale numerical features using Z-scores

display(df[cont_cols].describe().T)
scaler = StandardScaler()
df.loc[:, cont_cols] = scaler.fit_transform(df.loc[:, cont_cols])
display(df[cont_cols].describe().T)

,count,mean,std,min,25%,50%,75%,max
duration,"1,000.000",20.903,12.059,4.000,12.000,18.000,24.000,72.000
amount,"1,000.000","3,271.258","2,822.737",250.000,"1,365.500","2,319.500","3,972.250","18,424.000"
installment_rate,"1,000.000",2.973,1.119,1.000,2.000,3.000,4.000,4.000
present_resid,"1,000.000",2.845,1.104,1.000,2.000,3.000,4.000,4.000
age,"1,000.000",35.546,11.375,19.000,27.000,33.000,42.000,75.000
n_credits,"1,000.000",1.407,0.578,1.000,1.000,1.000,2.000,4.000
n_people,"1,000.000",1.155,0.362,1.000,1.000,1.000,1.000,2.000

                     count   mean   std    min    25%    50%    75%   max
duration         1,000.000  0.000 1.001 -1.402 -0.739 -0.241  0.257 4.239
amount           1,000.000  0.000 1.001 -1.071 -0.675 -0.337  0.248 5.371
installment_rate 1,000.000  0.000 1.001 -1.765 -0.870  0.024  0.918 0.918
present_resid    1,000.000 -0.000 1.001 -1.672 -0.766  0.141  1.047 1.047
age              1,000.000  0.000 1.001 -1.455 -0.752 -0.224  0.568 3.470
n_credits        1,000.000 -0.000 1.001 -0.705 -0.705 -0.705  1.027 4.491
n_people         1,000.000 -0.000 1.001 -0.428 -0.428 -0.428 -0.428 2.335

In [11]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
duration            1000 non-null float64
amount              1000 non-null float64
installment_rate    1000 non-null float64
present_resid       1000 non-null float64
age                 1000 non-null float64
n_credits           1000 non-null float64
n_people            1000 non-null float64
chk_acct            1000 non-null object
credit_his          1000 non-null object
present_emp         1000 non-null object
sex                 1000 non-null object
property            1000 non-null object
housing             1000 non-null object
dtypes: float64(7), object(6)
memory usage: 101.7+ KB

In [12]:
# Get index of categorical columns
cat_cols_idx = [df.columns.get_loc(c) for c in cat_cols if c in df]

In [19]:
# Fit and predict kprototypes

# For more details on parameters, see source code:
# https://github.com/nicodv/kmodes/blob/master/kmodes/kprototypes.py#L335

kp = KPrototypes(
        n_clusters=5,
        max_iter=100,                      # Number of iteration (cluster updates) per run (n_init)
        cat_dissim=dissim.matching_dissim, # Dissimilarity function to use for cat. features
        init='Cao',                        # Initialization method (see orignal paper for details)
        n_init=10,                         # Number of time the k-modes algorithm will be run with different centroid seeds.
        gamma=None,                        # Weighing factor that determines relative importance of cont. vs cat. features
        verbose=300,                       # Verbosity of output during training
        random_state=None,
        n_jobs=-1,
)

clusters = kp.fit_predict(df, categorical=cat_cols_idx)

Best run was number 1

In [14]:
kp.cluster_centroids_

array([['-0.37452851427180683', '-0.13108870418408128',
        '-1.236045709431126', '-0.18454691069614718',
        '-0.5215438370573091', '-0.1625810265562197',
        '-0.4282895663715409', 'A14', 'A32', 'A73', 'A92', 'A123',
        'A152'],
       ['-0.31829438580901', '-0.3598494993828514',
        '0.32225700039127303', '0.7951861304592861',
        '1.3338087358073427', '0.42087719314139616',
        '-0.42828956637154064', 'A14', 'A34', 'A75', 'A93', 'A121',
        'A152'],
       ['1.6631135941260116', '1.924092350533358',
        '-0.30046184094451955', '-0.04750637004854952',
        '-0.0030685633914354156', '0.013535297630366374',
        '-0.12127195606936059', 'A12', 'A32', 'A73', 'A93', 'A123',
        'A152'],
       ['-0.2527098519109494', '-0.1715255782549234',
        '-0.14833106017745554', '0.08223086466253178',
        '0.2761455759566802', '0.26004816577989837', '2.334868926348061',
        'A14', 'A32', 'A75', 'A93', 'A121', 'A152'],
       ['-0.16625740826524385', '-0.41789744394510936',
        '0.7148688396233069', '-0.32187947049289556',
        '-0.5045130181096998', '-0.2357373484052009',
        '-0.42828956637154353', 'A14', 'A32', 'A73', 'A93', 'A123',
        'A152']], dtype='<U32')

In [15]:
# Output is an array with cluster assignment for each record in original dataset
display(clusters.shape)
display(clusters)

(1000,)

array([1, 2, 3, 2, 3, 2, 1, 2, 1, 4, 4, 2, 0, 1, 0, 4, 1, 2, 2, 3, 1, 3,
       3, 1, 0, 0, 1, 1, 4, 2, 4, 0, 0, 1, 4, 2, 2, 4, 0, 4, 4, 4, 3, 0,
       1, 1, 4, 0, 0, 4, 4, 0, 4, 0, 1, 3, 0, 2, 4, 2, 0, 1, 1, 2, 4, 3,
       0, 4, 4, 4, 2, 1, 3, 2, 4, 1, 4, 1, 2, 0, 0, 1, 4, 1, 1, 4, 4, 2,
       3, 4, 1, 1, 3, 4, 1, 2, 1, 4, 1, 3, 1, 4, 4, 4, 0, 2, 3, 0, 0, 0,
       3, 4, 4, 2, 4, 2, 2, 0, 0, 4, 4, 4, 4, 1, 4, 4, 4, 4, 4, 4, 2, 2,
       0, 1, 2, 4, 2, 1, 1, 0, 0, 4, 4, 0, 4, 2, 0, 1, 2, 1, 3, 0, 4, 2,
       2, 0, 3, 4, 0, 3, 3, 4, 4, 1, 4, 0, 4, 4, 0, 1, 3, 4, 4, 4, 0, 2,
       0, 1, 3, 1, 2, 2, 3, 1, 3, 4, 3, 1, 4, 0, 1, 3, 3, 0, 4, 0, 0, 1,
       4, 4, 1, 4, 4, 4, 3, 3, 1, 4, 0, 1, 3, 1, 1, 1, 4, 0, 4, 0, 0, 1,
       4, 4, 4, 3, 4, 4, 2, 1, 4, 4, 4, 1, 4, 4, 3, 3, 2, 1, 4, 3, 4, 3,
       3, 4, 3, 4, 1, 4, 0, 4, 1, 0, 4, 0, 0, 2, 4, 4, 0, 1, 0, 1, 1, 1,
       3, 3, 2, 4, 0, 4, 4, 1, 2, 2, 2, 3, 0, 1, 0, 4, 4, 4, 1, 1, 4, 2,
       3, 2, 1, 1, 0, 2, 3, 1, 2, 2, 0, 4, 1, 4, 1, 4, 3, 1, 2, 4, 0, 4,
       4, 4, 2, 4, 0, 0, 3, 4, 3, 0, 4, 0, 4, 4, 0, 4, 4, 0, 1, 3, 4, 3,
       1, 4, 2, 2, 3, 0, 0, 4, 4, 4, 0, 0, 0, 0, 3, 4, 4, 0, 0, 3, 0, 0,
       0, 4, 1, 4, 1, 4, 4, 4, 1, 0, 0, 0, 4, 0, 4, 0, 3, 0, 4, 1, 0, 2,
       2, 2, 0, 1, 2, 1, 4, 2, 4, 4, 0, 0, 4, 1, 0, 4, 0, 0, 3, 0, 0, 2,
       1, 1, 0, 4, 1, 4, 2, 4, 3, 0, 3, 4, 4, 4, 4, 2, 4, 3, 4, 3, 3, 0,
       0, 4, 0, 4, 3, 4, 0, 0, 4, 1, 0, 3, 1, 2, 1, 4, 4, 0, 0, 1, 1, 4,
       4, 0, 0, 3, 2, 1, 4, 0, 1, 1, 2, 4, 1, 4, 0, 4, 3, 4, 4, 4, 3, 0,
       4, 1, 4, 3, 4, 2, 0, 4, 4, 4, 4, 3, 4, 0, 4, 4, 1, 3, 0, 4, 1, 4,
       1, 1, 1, 1, 4, 0, 0, 2, 0, 4, 3, 0, 2, 1, 4, 3, 4, 3, 1, 3, 4, 4,
       0, 3, 4, 2, 4, 2, 0, 4, 4, 1, 3, 2, 4, 1, 1, 0, 2, 4, 3, 2, 4, 3,
       4, 3, 3, 0, 1, 4, 4, 0, 1, 1, 2, 0, 0, 1, 2, 3, 1, 3, 4, 3, 4, 2,
       4, 3, 2, 4, 1, 0, 4, 0, 4, 0, 3, 4, 0, 2, 4, 4, 0, 0, 3, 2, 4, 2,
       0, 4, 4, 0, 0, 4, 4, 4, 4, 3, 4, 4, 1, 0, 3, 4, 1, 1, 1, 1, 4, 4,
       4, 0, 4, 0, 0, 0, 0, 4, 4, 4, 4, 4, 1, 1, 4, 3, 4, 3, 4, 0, 4, 2,
       2, 3, 0, 4, 0, 4, 2, 4, 1, 4, 0, 0, 1, 1, 0, 4, 4, 0, 4, 3, 4, 2,
       3, 3, 4, 1, 4, 4, 4, 2, 0, 0, 3, 3, 2, 4, 4, 2, 4, 0, 3, 2, 0, 0,
       4, 4, 1, 4, 1, 4, 3, 0, 1, 1, 4, 2, 2, 0, 3, 4, 4, 2, 1, 4, 0, 4,
       4, 1, 2, 2, 4, 4, 4, 3, 0, 4, 0, 3, 4, 1, 4, 0, 4, 4, 4, 2, 4, 4,
       3, 0, 2, 4, 4, 3, 4, 4, 1, 4, 2, 1, 3, 4, 4, 1, 4, 3, 4, 1, 4, 0,
       1, 4, 2, 1, 0, 3, 4, 0, 3, 4, 2, 3, 3, 4, 0, 4, 4, 4, 2, 4, 0, 4,
       0, 0, 0, 0, 0, 4, 3, 4, 3, 1, 0, 1, 1, 4, 4, 2, 4, 1, 0, 0, 0, 1,
       0, 2, 0, 1, 1, 4, 1, 4, 2, 1, 2, 1, 0, 4, 1, 4, 1, 3, 2, 2, 3, 3,
       0, 1, 4, 0, 3, 0, 1, 4, 3, 1, 0, 1, 0, 2, 4, 1, 2, 0, 4, 4, 2, 2,
       3, 2, 1, 0, 2, 4, 4, 4, 3, 1, 4, 4, 0, 3, 2, 2, 3, 4, 2, 0, 0, 1,
       4, 3, 1, 1, 4, 4, 4, 1, 3, 0, 1, 4, 1, 1, 4, 1, 1, 3, 2, 4, 4, 4,
       4, 3, 4, 4, 4, 3, 0, 0, 4, 1, 2, 4, 2, 3, 4, 4, 3, 1, 4, 4, 4, 2,
       2, 2, 1, 1, 4, 1, 3, 2, 2, 3, 3, 1, 1, 2, 4, 2, 4, 4, 0, 0, 1, 1,
       2, 4, 4, 3, 0, 0, 0, 0, 1, 0, 0, 0, 4, 2, 3, 2, 0, 4, 4, 2, 4, 3,
       2, 1, 4, 2, 1, 3, 4, 4, 4, 3, 4, 4, 4, 4, 2, 3, 3, 3, 4, 3, 4, 2,
       3, 4, 3, 0, 3, 0, 4, 2, 4, 1, 1, 1, 4, 4, 0, 1, 4, 4, 4, 4, 4, 1,
       2, 3, 4, 3, 0, 2, 4, 1, 1, 4, 3, 0, 2, 2, 0, 2, 0, 4, 2, 1, 4, 1,
       3, 3, 0, 4, 1, 4, 4, 4, 4, 2], dtype=uint16)

In [16]:
df['clusters'] = clusters

In [17]:
# Continuous variablesby clusters
df.groupby('clusters')[cont_cols].describe().T

clusters                     0       1       2       3       4
duration         count 198.000 180.000 135.000 140.000 347.000
                 mean   -0.375  -0.318   1.663  -0.253  -0.166
                 std     0.636   0.715   0.930   0.897   0.687
                 min    -1.236  -1.319  -1.236  -1.402  -1.236
                 25%    -0.739  -0.739   1.253  -0.905  -0.739
                 50%    -0.490  -0.490   1.501  -0.490  -0.241
                 75%     0.257   0.257   2.248   0.257   0.257
                 max     2.248   2.248   4.239   2.248   1.999
amount           count 198.000 180.000 135.000 140.000 347.000
                 mean   -0.131  -0.360   1.924  -0.172  -0.418
                 std     0.563   0.579   1.092   0.654   0.440
                 min    -1.071  -1.040  -0.078  -1.006  -1.062
                 25%    -0.540  -0.744   1.175  -0.678  -0.720
                 50%    -0.232  -0.582   1.669  -0.306  -0.509
                 75%     0.135  -0.181   2.534   0.116  -0.209
                 max     2.023   1.628   5.371   2.606   1.172
installment_rate count 198.000 180.000 135.000 140.000 347.000
                 mean   -1.236   0.322  -0.300  -0.148   0.715
                 std     0.441   0.835   0.963   1.040   0.376
                 min    -1.765  -1.765  -1.765  -1.765   0.024
                 25%    -1.765   0.024  -0.870  -0.870   0.918
                 50%    -0.870   0.918  -0.870   0.024   0.918
                 75%    -0.870   0.918   0.918   0.918   0.918
                 max    -0.870   0.918   0.918   0.918   0.918
present_resid    count 198.000 180.000 135.000 140.000 347.000
                 mean   -0.185   0.795  -0.048   0.082  -0.322
                 std     1.024   0.534   0.991   0.968   0.966
                 min    -1.672  -0.766  -1.672  -1.672  -1.672
                 25%    -0.766   1.047  -0.766  -0.766  -0.766
                 50%    -0.766   1.047   0.141   0.141  -0.766
                 75%     1.047   1.047   1.047   1.047   1.047
                 max     1.047   1.047   1.047   1.047   1.047
age              count 198.000 180.000 135.000 140.000 347.000
                 mean   -0.522   1.334  -0.003   0.276  -0.505
                 std     0.626   0.921   0.906   0.765   0.555
                 min    -1.455  -0.752  -1.279  -1.367  -1.367
                 25%    -1.015   0.656  -0.708  -0.224  -0.928
                 50%    -0.664   1.271  -0.224   0.216  -0.664
                 75%    -0.224   2.063   0.568   0.656  -0.136
                 max     1.799   3.470   2.854   3.382   1.623
n_credits        count 198.000 180.000 135.000 140.000 347.000
                 mean   -0.163   0.421   0.014   0.260  -0.236
                 std     0.860   1.193   0.979   1.180   0.782
                 min    -0.705  -0.705  -0.705  -0.705  -0.705
                 25%    -0.705  -0.705  -0.705  -0.705  -0.705
                 50%    -0.705   1.027  -0.705  -0.705  -0.705
                 75%     1.027   1.027   1.027   1.027   1.027
                 max     2.759   4.491   4.491   4.491   2.759
n_people         count 198.000 180.000 135.000 140.000 347.000
                 mean   -0.428  -0.428  -0.121   2.335  -0.428
                 std     0.000   0.000   0.872   0.000   0.000
                 min    -0.428  -0.428  -0.428   2.335  -0.428
                 25%    -0.428  -0.428  -0.428   2.335  -0.428
                 50%    -0.428  -0.428  -0.428   2.335  -0.428
                 75%    -0.428  -0.428  -0.428   2.335  -0.428
                 max    -0.428  -0.428   2.335   2.335  -0.428

In [18]:
total = len(df)

for c in cat_cols:
    
    # Overall distribution of categories
    overall_dist = (
        pd.DataFrame(df[c].value_counts() / total).
        T.
        sort_index(axis=1).
        style.
        background_gradient(cmap='Blues', axis=1)
    )
    display(overall_dist)

    # Get counts across clusters and categorical column
    table = pd.pivot_table(
        df, values=[], index=["clusters"], columns=[c],
        aggfunc=len, margins=True, dropna=True, fill_value=0
    )

    # Divide by total across all cateogories for a given cluster
    table2 = table.div(table.iloc[:, -1], axis=0).iloc[:-1,:-1]

    # Apply background gradient to generate a heatmap
    display(table2.style.background_gradient(cmap='Blues', axis=1))
    print(30*"-")

------------------------------

------------------------------

------------------------------

------------------------------

------------------------------

------------------------------